.welcome{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.plateau-main {
    margin: 0 auto;
    text-align:center;
}

.plateau {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 5px;
    background-color: blue;
}

.item {
    margin: 0 auto;
    text-align:center;
}

.jaune {
    fill: #ffd31d;
}

.rouge {
    fill: #d92027;
}

.blanc {
    fill: white;
}

.jaune-joueur {
    color: #ffd31d;
}

.rouge-joueur {
    color: #d92027;
}

.profile-border {
    border-radius: 5px;
}

.loader {
    /*border: 16px solid #f3f3f3;  Light grey 
    border-top: 16px solid #3498db;  Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    border-top: 16px solid #ffd31d;
    border-right: 16px solid #ffd31d;
    border-bottom: 16px solid #d92027;
    border-left: 16px solid #d92027;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
