.welcome{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.plateau-main {
    margin: 0 auto;
    text-align:center;
}

.plateau {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 5px;
    background-color: blue;
}

.item {
    margin: 0 auto;
    text-align:center;
}

.jaune {
    fill: #ffd31d;
}

.rouge {
    fill: #d92027;
}

.blanc {
    fill: white;
}

