<div class="welcome">
    <div class="item">
        <p class="text-light">{{winner}}</p>
        <p class="text-light">{{etat_partie}} {{adversaire}} {{tour}} Joueur: {{joueur}}</p>
    </div>
    <div class="plateau-main">
        <div class="plateau">
            <div *ngFor="let j of ligne_six" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_cinq" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_quatre" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_trois" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_deux" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_un" class="jaune">{{j}}</div>
        </div>

        <div class="mt-3" *ngIf="etat_partie == 'Aucune partie en cours'">
            <button class="btn btn-success ml-2" (click)="participer()">Participer</button>
        </div>
        <div class="mt-2" *ngIf="tab_rempli">
            <div class="mt-5">
                <input type="text" [formControl]="colonne">
                <button class="btn btn-success ml-2" (click)="jouer()">Jouer</button>
                <p>{{statut_info}}</p>
            </div>
        </div>
    </div>
</div>
