<div class="welcome">
    <div class="plateau-main">
        <div class="plateau">
            <div *ngFor="let j of ligne_six" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_cinq" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_quatre" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_trois" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_deux" class="jaune">{{j}}</div>
            <div *ngFor="let j of ligne_un" class="jaune">{{j}}</div>
        </div>
    </div>
</div>
