.welcome{
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    text-align: center;
}
.input{
    margin: 0 auto;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

h1{
    color: #444;
    margin-bottom: 50px;
}

